#grid[data-columns]::before {
	content: '2 .column.size-1of2';
}

/* These are the classes that are going to be applied: */
.columnleft { float: left; }
.columnright { float: right; }
.size-1of2 { width: 48%; }
.row {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}