 * {
	margin: 0;
	padding: 0;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
fieldset,img {
border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-weight: normal;
font-style: normal;
}
ol,ul {
list-style: none;
}
caption,th {
text-align: left;
}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
}
q:before,q:after {
content:'';
}
abbr,acronym { border: 0;
}

#button-login {
	background: #F44E3F;
	border: 0;
	width: 100px;
}
#login {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
#logo {

	max-width:100px;

}
#fp {
	float: right;
}

.dropdown {
  float: right;
}
#dropdownMenu1 {
  border: 0;
  margin-top: 7px;
}
#brand {
	max-height: 40px;
	margin-top: 4px;
}
#dropdown-menu {
	margin-top: 8px;
}
#navbar {
	background: #FFF;
	margin-bottom: 0;
}
#menu {
	max-height: 20px;
}
.category {
	background: #F6F6F6;
	height: 50px;
}
#function {
	max-height: 25px;
	
	margin-left: 10px;
}
#dibiao {
	max-height: 25px;
	
	margin-left: 10px;
}
#store {
	max-height: 100px;
}
.table > tbody > tr >td {
	border-bottom: 1px solid #E7E7E7;
}
#table {
	margin-bottom: 0;
}
#page-header {
	border: 0;
	margin: 0px 0px 0px;
	padding-bottom: 0;
}
#cell {
	max-height: 30px;
}
#star {
	max-height: 30px;

}
#product-name {
	height: 40px;
}
#right {
	max-height: 15px;
	margin-top: -5px;
}

#active-1 {
position: relative;
display: block;
padding: 5px 20px;
background-color: #F44E3F;
}
#active-2 {
position: relative;
display: block;
padding: 5px 20px;
color: black;
}
#new-hot {
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}
#zan {
	max-height: 15px;
	margin-bottom: 6px;
}
#touxiang {
	max-height: 45px;
}
