
html,body {
	height: 100%;
	background-color: #f1f1f1;
}
.input {
	height: 40px;
	line-height: 50px;
	margin-top: 10px;
	border-radius: 3px;
	min-height: 40px;
}
.input input {
	min-height: 30px;
	height: 100%;
	border: 0 none;
	margin-top: 0;
	padding-top: 0;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 0.5em;
	color: #666666;
}
input,select {
	font-size: 16px;
}
.verify_code {
	background: #fff;
}
.verify_code input {
	vertical-align: middle;
	width: 66.68%;
}
.verify_code img{
    margin-top: 6px;
	width: 33.22%; /*196*/
	height: 100%;
	display: inline-block;
	font-size: 14px;
	background: #1e91c2;
	border-radius: 3px;
	float: right;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
}
