@charset "UTF-8";

body {
	background-color: #FFF;
}
section {
	padding-bottom: 0;
}
header .title span::after {
	content: '';
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border: 6px solid #FFF;
	border-right-color: rgba(0,0,0,0);
	border-bottom-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	vertical-align: middle;
	margin-left: 5px;
	position: relative;
	top: 2px;
}
.js_content_box {
	display: none;
}
#all_content  {
	display: block;
}
.list {
	background-color: #e8e8e8;
	border-top: 1px solid #cacaca;
}
.list:first-child {
	border-top: 0 none;
}
.list.select {
	background-color: #d7f2fd;
}
.list.select .list_box {
	display: block;
}
.list.select .list_title .m::before {
	content: '';
	display: inline-block;
	height: 6px;
	width:6px;
	line-height: 0;
	background-color: #f63f0e;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: -6px;
	margin-top: -2px;
}
.list .list_title {
	height: 40px;
	line-height: 40px;
	position: relative;
	width: 93.75%;
	margin: 0 auto;
	font-size: 14px;
}
.list .list_title .m,
.list .list_title .s {
	position: absolute;
	height: 40px;
	top: 0;
}
.list .list_title .m {
	left: 0;
	top: 50%;
	margin-top: -13px;
	color: #010101;
	padding-left: 0.2em;
	height: 26px;
	line-height: 26px;
	width: 3.5em;
	border-right: 1px solid #f63f0e;
}
.list .list_title .d {
	color: #000000;
	text-align: center;
}
.list .list_title .s {
	color: #000000;
	right: 0;
	width: 5em;
	text-align: center;
}
.list .list_box {
	display: none;
	background-color: #ffffff;
}
.list .list_box li {
	border-top: 1px solid #cacaca;
}
.list .list_box .item_box {
	width: 93.75%;
	margin: 0 auto;
	position: relative;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.list .list_box .item_box .m,
.list .list_box .item_box .s {
	position: absolute;
	top: 0;
}
.list .list_box .item_box .m {
	left: 0;
	line-height: 1em;
	width: 10em;
	padding-bottom: 14px;
	height: 14px;
	top: 50%;
	margin-top: -14px;
	margin-left: 0.2em;
}
.list .list_box .item_box .m strong {
	font-weight: normal;
}
.list .list_box .item_box .m i {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	text-align: left;
	width: 100%;
	color: #a9a9a9;
	font-style: normal;
}
.list .list_box .item_box .s {
	height: 40px;
	right: 0;
	width: 5em;
	text-align: center;
	color: #999999;
}
.list .list_box .item_box .d {
	text-align: center;
	color: #eb3e17;
}
.list .list_box .item_box .d.green {
	color: #67c93c;
}
.list .list_box li:first-child {
	border-top: 0 none;
}
.list:first-child .list_box li:first-child .m i {
	color: #f4604e;
}
.list:first-child .list_box li:first-child .m strong::after {
	content: 'new';
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	overflow: hidden;
	padding: 0 3px;
	background-color: #f63f0e;
	color: #FFF;
	font-weight: bold;
	font-style: italic;
	border-radius: 3px;
	margin-left: 0.4em;
}

/*页面弹出*/
.detail_mask {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 99;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 44px;
}
.pop_list {
	background-color: #FFF;
}
.pop_list .item {
	width: 93.75%;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 1.8em;
	font-size: 14px;
	background-repeat: no-repeat; 
	background-position: left center;
	background-size: 1.2em auto;
}
.pop_list .item.all {
	background-image: url(../images/detail/all.png);
}
.pop_list .item.my {
	background-image: url(../images/detail/my.png);
}
.pop_list .item.put {
	background-image: url(../images/detail/put.png);
}
.pop_list .item.get {
	background-image: url(../images/detail/get.png);
}
.pop_list .item.other {
	background-image: url(../images/detail/other.png);
}
.pop_list .item label {
	border-bottom: 1px solid #cacaca;
}
input.detail_radio {
	display: none;
}
input.detail_radio ~ label {
	width: 100%;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	position: relative;
	color: #999999;
}
input.detail_radio ~ label::after {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -8px;
	width: 10px;
	height: 10px;
	background-color: #FFF;
	border-radius: 10em;
	content: '';
	border: 3px solid #FFF;
	box-shadow: 0 0 0 5px #FFF, 0 0 0 6px #e1e1e1;
}
input.detail_radio:checked ~ label::after,
input.detail_radio ~ label.checked::after {
	background-color: #1e91c2;
	border: 3px solid #d7f3ff;
	box-shadow: 0 0 0 5px #FFF, 0 0 0 6px #8fd4f2;
}
.pop_list .item input.detail_radio:checked ~ label,
.pop_list .item input.detail_radio ~ label.checked {
	color: #333333;
}





/*每日来钱*/
.everyday .list .list_title .s {
	width: 8em;
	text-align: right;
}
.everyday .list .list_box .item_box .m {
	padding-bottom: 0;
	height: 28px;
	line-height: 28px;
}
.everyday .list .list_box .item_box .s {
	text-align: right;
	padding-right: 0.6em;
	color: #eb3e17;
}
.everyday .list .list_box .item_box .s.green {
	color: #67c93c;
}
.everyday .list.select .list_box li:first-child .item_box .m strong {
	color: #f23819;
}








#wrapper_probe {
    position: absolute;
    z-index: 1;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}
#scroller section {
	padding-top: 0;
	padding-bottom: 0;
}

#scroller {  
    position: absolute;  
    z-index: 1;  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    width: 100%;  
    -webkit-transform: translateZ(0);  
    -moz-transform: translateZ(0);  
    -ms-transform: translateZ(0);  
    -o-transform: translateZ(0);  
    transform: translateZ(0);  
    -webkit-touch-callout: none;  
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    user-select: none;  
    -webkit-text-size-adjust: none;  
    -moz-text-size-adjust: none;  
    -ms-text-size-adjust: none;  
    -o-text-size-adjust: none;  
    text-size-adjust: none;  
}
#pullDown,#pullUp {    
    height: 40px;    
    line-height: 40px;    
    padding: 5px 10px;    
    font-weight: bold;    
    font-size: 14px;    
    color: #888;
    display: none;
    text-align: center;
}    

#pullDown .pullDownIcon,#pullUp .pullUpIcon {    
    display: block;    
    float: left;    
    width: 40px;    
    height: 40px;    
    -webkit-background-size: 40px 80px;    
    background-size: 40px 80px;    
    -webkit-transition-property: -webkit-transform;    
    -webkit-transition-duration: 250ms;
    display: none;
}    
    
#pullDown .pullDownIcon {    
    -webkit-transform: rotate(0deg) translateZ(0);    
}    
    
#pullUp .pullUpIcon {    
    -webkit-transform: rotate(-180deg) translateZ(0);    
}    
    
#pullDown.flip .pullDownIcon {    
    -webkit-transform: rotate(-180deg) translateZ(0);    
}    
    
#pullUp.flip .pullUpIcon {    
    -webkit-transform: rotate(0deg) translateZ(0);    
}    
    
#pullDown.loading .pullDownIcon,#pullUp.loading .pullUpIcon {    
    background-position: 0 100%;    
    -webkit-transform: rotate(0deg) translateZ(0);    
    -webkit-transition-duration: 0ms;    
    -webkit-animation-name: loading;    
    -webkit-animation-duration: 2s;    
    -webkit-animation-iteration-count: infinite;    
    -webkit-animation-timing-function: linear;    
}
.pullDownLabel,.pullUpLabel {
    text-align: center;
}
    
.-webkit-keyframes loading {    
    from {     
        -webkit-transform:rotate(0deg)translateZ(0);    
    }    
    
    .to {    
        -webkit-transform: rotate(360deg) translateZ(0);    
    }    
} 