@charset "UTF-8";
body {
	background-color: #f1f1f1;
}
.down_btn_box {
	margin-top: 50px;
	text-align: center;
}
.down_btn_box .down_btn {
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 140px;
	height: 140px;
	color: #666666;
	padding-top: 85px;
	border-radius: 8px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
}
.down_btn_box .down_btn.ios {
	background: url(../images/download/ios.png) no-repeat center 15px #FFFFFF;
	background-size: 65px auto;
}
.down_btn_box .down_btn.android {
	margin-left: 10px;
	background: url(../images/download/android.png) no-repeat center 15px #FFFFFF;
	background-size: 65px auto;
}
.down_btn span {
	display: block;
	text-align: center;
}
.down_btn span.txt {
	font-size: 14px;
}
.down_btn span.version {
	margin-top: 30px;
	color: #b0b0b0;
}