@charset "UTF-8";
body {
	background-color: #f1f1f1;
}
section {
	width: 93.75%;
	margin: 0 auto;
	border: 1px solid #f1f1f1;
}
.user_box {
	height:88px;/*166*/
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #FFF;
	border-radius: 3px;
	margin-top: 20px;
	position: relative;
}
.user_box .icon {
	height:14px;/*29*/
	width: 21px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -10px;
	background: url(../images/login/center_icon.png) no-repeat center top;
	background-size: 100% 100%;
}
.user_box .i_box {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	min-height: 60px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.virtual_box {
	background:-webkit-linear-gradient(bottom, #1c8ab9  0%, #2fafe6 100%);
	background:linear-gradient(to top,#1c8ab9  0%,#2fafe6 100%);
}
.reality_box {
	float: right;
	background:-webkit-linear-gradient(bottom, #efefef, #fbfbfb);
	background:linear-gradient(to top,#efefef,#fbfbfb);
}
.virtual_box a{
	color: #FFF;
	background: url(../images/login/virtual_icon.png) no-repeat 25px center;
}
.reality_box a {
	color: #BFBFBF;
	background: url(../images/login/reality_icon.png) no-repeat center top;
}
.reality_login .reality_box {
	background:-webkit-linear-gradient(bottom, #1c8ab9  0%, #2fafe6 100%);
	background:linear-gradient(to top,#1c8ab9  0%,#2fafe6 100%);
}
.reality_login .reality_box a {
	color: #FFF;
	background: url(../images/login/reality_icon.png) no-repeat 25px center;
	background-size: auto 30px;
}
.reality_login .reality_box a .font,
.virtual_box a .font {
	width: 100%;
	position: relative;
	top: 50%;
	margin-top: -22px;
	display: inline-block;
}

.reality_login .reality_box a .font b,
.virtual_box a .font b {
	font-size: 14px;
}
.reality_login .reality_box a .font i,
.virtual_box a .font i {
	font-size: 12px;
	font-style: normal;
}

.virtual_box a,
.reality_box a {
	width: 100%;
	height: 100%;
	text-align: left;
	display: inline-block;
	background-size: auto 30px;
	text-decoration: none;
	padding-left: 90px;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.forget {
	margin-top: 10px;
	overflow: hidden;
}
.forget a {
	float: right;
	padding-left: 1.5em;
	background: url(../images/login/forget_icon.png) no-repeat left center;
	background-size: 1.2em auto;
	text-decoration: none;
	color: #5f7f8e;
}
footer {
	background-color: #EAEAEA;
	border-top: 1px solid #D1D1D1;
}
footer a {
	font-size: 16px;
	height: 100%;
	width: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #666;
}
footer a  i {
	height: 100%;
	width: 40px;
	background: url(../images/login/bottom_icon.png) no-repeat left center;
	background-size: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.2em;
}
/*同意服务*/
.agreement {
	margin-top: 1em;
}
.agreement a {
	color: #f8370a;
}


/*验证码*/
.verify_code {
	display: none;
}
.verify_code a {
	border-radius: 0px;
	border-left: 5px solid #f1f1f1;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.verify_code a img {
	height: 100%;
	width: 100%;
}

.register.verify_code {
	display: block;
}
.register.verify_code a {
	border-radius: 3px;
	border-left: 0 none;
}