@charset "UTF-8";
#js_v_box {
	display: none;
}
.box {
	background-color: #FFF;
	margin-top: 25px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.box li {
	height: 50px;
	line-height: 50px;
	width: 93.75%;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 16px;
	padding-left: 40px;
}
.box li a {
	display: block;
	height: 100%;
	color: #202020;
}
.box li.user {
	background: url(../images/manage/icon_user.png) no-repeat left center;
	background-size: 30px auto;
}
.box li.user a {
	border-bottom: 1px solid #e0e0e0;
}
.box li.pwd {
	background: url(../images/manage/icon_pwd.png) no-repeat left center;
	background-size: 30px auto;
	padding-right: 0.5em;
}
.box li.pwd a {
	background: url(../images/common/right_icon.png) no-repeat right center;
	background-size: auto 15px;
}
.box li.tel {
	background: url(../images/manage/icon_tel.png) no-repeat left center;
	background-size: 30px auto;
}
.unbindinfo_btn {
	width: 93.75%;
	margin: 25px auto 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	background-color: #ffb600;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
}
.manage .unbindinfo_btn {
	margin-top: 14px;
}
.manage .unbindinfo_btn.disable {
	background-color: #999999;
	margin-top: 14px;
}
.manage .unbindinfo_btn a {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: #FFF;
}
.about .link li a {
	background: url(../images/common/right_icon.png) no-repeat right center;
	background-size: auto 15px;
	width: 93.75%;
	margin: 0 auto;
	display: block;
}
.about .link li {
	padding-left: 0;
	width: 100%;
}
.about .link li:first-child {
	border-bottom: 1px solid #e0e0e0;
}
.about .logo {
	padding-top: 25px;
	text-align: center;
}
.about .logo img {
	width: 60px;
}

.feedback .content {
	margin-top: 15px;
	width: 100%;
	resize: none;
	height: 160px;
	border-left: 0 none;
	border-right: 0 none;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	font-size: 16px;
	line-height: 20px;
	font-family: "微软雅黑";
	padding: 0.4em 0.5em;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}