@charset "UTF-8";



.card_box {
	background: url(../images/take_money/card_box_bg.png) no-repeat 0 0;
	background-size: 100% 100%;
	background-color: #fdb529;
	border-radius: 15px;
	width: 93.75%;
	margin: 1.5em auto 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	color: #FFF;
}
.card_box .title {
	border-bottom: 2px solid #FFF;
	height: 42px;
	line-height: 42px;
}
.card_box .title h3 {
	background: url(../images/common/boc2.png) no-repeat 1em center;
	background-size: 1.8em auto;
	font-size: 18px;
	padding-left: 3em;
}
.card_box .title .num {
	float: right;
	margin-right: 1em;
	font-style: 16px;
	font-weight: bold;
}
.card_box .content {
	height: 120px;
	overflow: hidden;
}
.content .count_title {
	background: url(../images/common/money_icon.png) no-repeat left center;
	background-size: 1.2em auto;
	padding-left: 1.6em;
	margin-left: 18px;
	margin-top: 1em;
}
.content .count_num {
	font-size: 32px;
	padding: 0.7em 0 0 0;
	text-align: center;
}

.input_box {
	margin-top: 1.4em;
	color: #343434;
	height: 56px;
	line-height: 56px;
	background-color: #FFF;
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
}
.input_box .input_c {
	width: 93.75%;
	margin: 0 auto 0;
}
.input_box .input_c .title {
	font-size: 14px;
	float: left;
}
.input_box .input_c .num {
	height: 56px;
	border: 0 none;
	padding: 0 0 0 0.2em;
	margin: 0 0 0 0.2em;
	float: left;
}
.take_btn {
	font-size: 16px;
	color: #FFF;
	background-color: #1388ec;
	border-radius: 3px;
	height: 42px;
	line-height: 42px;
	width: 93.75%;
	margin: 1.6em auto 0;
	text-align: center;
}
.take_btn a {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: #FFF;
	text-decoration: none;
}
footer {
	background-color: #EAEAEA;
	border-top: 1px solid #D1D1D1;
}
footer a {
	font-size: 16px;
	height: 42px;
	line-height: 42px;
	width: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #666;
}
footer a  i {
	height: 100%;
	width: 40px;
	background: url(../images/login/bottom_icon.png) no-repeat left center;
	background-size: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.2em;
}
.take .title_amount {
	width:80px;
	text-align:center;
	position: relative;
	z-index: 9;
}
.take .input_c {
	position: relative;
}
.take #amount {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	z-index: 1;
	padding-left: 80px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*取出成功页面*/
.take_ok_body {
	width: 93.75%;
	margin: 0 auto;
}

.ok_card_box {
	height: 38px;
	line-height: 38px;
	margin-top: 1.4em;
}
.ok_card_box .name {
	font-size: 18px;
	line-height: 38px;
	display: block;
	padding-left: 40px;
	background: url(../images/common/boc2.png) no-repeat left center;
	background-size: 1.8em auto;
	padding-left: 2em;
}
.ok_card_box .num {
	float: right;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}
.take_num {
	font-size: 18px;
	margin-top: 1.2em;
}
.take_num .money {
	color: #da251e;
	float: right;
}
.take_info_box {
	color: #2b2a2a;
	font-size: 14px;
	line-height: 2.2em;
	margin-top: 2em;
	margin-bottom: 3em;
}
.take_info_box strong {
	color: #127dab;
}

/*投入页面*/
.put_body .ok_card_box,
.put_body .agreement,
.put_body .submit {
	width: 93.75%;
	margin-left: auto;
	margin-right: auto;
}
.put_body .agreement {
	margin-top: 0.6em;
	color: #4b4b4b;
}
.put_body .agreement a {
	color: #f8370a;
}
.put_body .submit {
	margin-top: 2.5em;
}