@charset "UTF-8";


header .h_box{
	width: 93.75%;
	margin: 0 auto 0;
	height: 100%;
	position: relative;
	font-size: 14px;
}
header .strategy_btn {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	color: #FFF;
}

header .login_btn {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	color: #FFF;
}
.trader_content {
	background-color: #FFF;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.conf_box {
	height:70%;
	background-color: #bceafd;
	position: relative;
	overflow: hidden;
}
.conf_box .count_money {
	width: 93.75%;
	margin: 0 auto;
	padding: 5px 0;
	font-size: 14px;
}
.conf_box .canvas_box {
	height: 70%;
	background-color: #bceafd;
	overflow:hidden;
	text-align: center;
	position: relative;
}
.conf_box .canvas_box canvas {
	margin: 0 auto;
}
.conf_box .canvas_box .current {
	width: 4em;
	height: 1em;
	line-height: 1em;
	position: absolute;
	font-size: 12px;
	z-index: 3;
	top: 50%;
	left: 50%;
	margin-top: -0.5em;
	margin-left: -2em;
}
.conf_box .percent_box {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}
.txt_box {
	height:30%;
	background-color: #ffffff;
	width: 93.75%;
	margin: 0 auto 0;
}
.txt_box .item {
	position: relative;
	height: 33%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-top: 1px solid #bfbfbf;
}
.txt_box .item:first-child {
	border-top: 0 none;
}
.txt_box .item .num,
.txt_box .item a {
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	font-size: 14px;
}
.txt_box .item .num {
	right: 0;
	color: #333b48;
}
.txt_box .item a {
	padding-left: 0.2em;
	left: 0;
	color: #333b48;
}
.txt_box .item a .t {
	color: #4dc0f6;
	border: 1px solid #4dc0f6;
	border-radius: 5px;
	padding: 0.2em 0.4em;
	font-size: 12px;
	margin-left: 0.5em;
	vertical-align: 1px;
}


.trader_submit {
	background-color: #ffb628;
}
.trader_submit a {
	color: #FFF;
	text-align: center;
	height: 100%;
	width: 100%;
	display: inline-block;
	font-size: 16px;
}

.trader_pop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -11;
}
.trader_pop img{
	width: 100%;
	height: 100%;
	display: block;
}


/*操盘确认*/
/*环形图*/
.pic_box {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*百分比部分*/
.percent_box {
	width: 93.75%;
	overflow: hidden;
	margin: 0 auto 0;
}
.percent_box div.item {
	float: left;
	width: 33.33%;
}
.percent_box .title,
.percent_box .num {
	text-align: center;
	color: #000000;
}
.percent_box .title span::before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 10px;
	border-radius: 5px;
	margin-right: 0.2em;
}
.percent_box .title span.item1::before {
	background: #5cba32;
}
.percent_box .title span.item2::before {
	background: #ffd631;
}
.percent_box .title span.item3::before {
	background: #ff1d11;
}
.percent_box .num {
	font-size: 16px;
	color: #e76e52;
}

/*提示信息*/
.info_prompt {
	font-size: 12px;
	color: #4d4d4d;
	width: 93.75%;
	margin: 2.2em auto 0;
}

/*按钮*/
.t_btn_box {
	font-size: 16px;
	width: 93.75%;
	margin: 1.8em auto 0;
}
.t_btn_box .back_btn,
.t_btn_box .ok_btn {
	height: 44px;
	width: 48%;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	border-radius: 3px;
}
.t_btn_box .back_btn {
	float: left;
	line-height: 42px;
	color: #1e91c2;
	border: 1px solid #c2c2c2;
}
.t_btn_box .ok_btn {
	float: right;
	line-height: 44px;
	color: #FFF;
	background-color: #ffb628;
}
.pic_box .txt {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 76px;
	height: 76px;
	line-height: 76px;
	text-align: center;
	border-radius: 76px;
	-webkit-border-radius: 76px;
	margin-left: -38px;
	margin-top: -38px;
	color: #0696d3;
	font-size: 14px;
	background-color: #f1f1f1;
	z-index: 999;
}