

#logo {
	position: absolute;
	top: 6px;
	left: 4px;
}

#title {
	position: absolute;
	top: 8px;
	font-size: 20px;
	margin-left: -36px;
}

#navbar {
	background: #FFF;
}

#register_form {
    margin: 16px;
}
