
@charset "UTF-8";
html,body {
    height: 100%;
    background-color: #f1f1f1;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

.pop_mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.pop_mask .pop {
	width: 84.375%;
	margin: 100px auto 0;
	background:-moz-linear-gradient(top, #e8e9e9,#dfe2e3 30%,#e0e5e4);
	background:-webkit-linear-gradient(top, #e8e9e9,#dfe2e3 50%,#e0e5e4);
	background:linear-gradient(to bottom, #e8e9e9,#dfe2e3 50%,#e0e5e4);
	border-radius: 10px;
}
.pop_mask .pop .title {
	font-size: 16px;
	color: #000;
	font-weight: bold;
	padding: 1.2em 0 0 0;
	text-align: center;
}
.info,
.info .txt {
	text-align: center;
	font-size: 14px;
}
.info .txt {
	margin: 1.2em 1.2em;
	line-height: 1.6em;
}
.info .red {
	color: red;
}
.info {
	line-height: 38px;
}
.info .info_input {
	height: 38px;
	width: 88.89%;
	background-color: #FFF;
	padding: 0;
	margin: 0 auto;
	border: 1px solid #bfbfbf;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 0.4em;
}
.btn_box {
	margin-top: 1em;
	border-top: 1px solid #9da1a0;
	height: 38px;
	line-height: 38px;
}
.btn_box .cancel_btn,
.btn_box .ok_btn {
	width: 50%;
	display: inline-block;
	text-decoration: none;
	color: #157efb;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 16px;
}
.btn_box .ok_btn {
	border-left: 1px solid #9da1a0;
}
.btn_box .one_ok_btn {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: #157efb;
	text-align: center;
	font-size: 16px;
}

.link_btn {
	color:#F44E3F;
	text-decoration:none;
}