

#logo {
	position: absolute;
	top: 6px;
	left: 4px;
}

#title {
	position: absolute;
	top: 8px;
	font-size: 20px;
}

#navbar {
	background: #FFF;
	text-align: center;
}

#deposit_form {
    margin: 16px;
}

#service_provider {
    font-size: 20px;
    padding-top: 100px;
}
