body,
h1,
h2,
h3,
p,
div,
ol,
ul,
input,
button {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  background-color: #f2f2f2;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  margin: 0;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
button,
textarea {
  border: 0;
  border-radius: 0;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  outline: 0;
}
.flex-justify {
  /* Android */
  display: -webkit-box;
  -webkit-box-pack: justify;
  /* iOS */
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  /* IE10 */
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  /* w3c */
  display: flex;
  justify-content: space-around;
}
.pageHeader {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  -webkit-box-pack: justify;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  display: flex;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  height: 2rem;
  line-height: 2rem;
  color: #555;
  padding: 0.5rem 0;
  z-index: 100;
}
.pageHeader h3 {
  -webkit-flex: 1;
  flex: 1;
}
.pageHeader div {
  padding: 0  0.5rem;
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
}
.pageHeader div a,
.pageHeader div a:active {
  color: #fff;
}
.pageHeader #back_cheniu {
  text-align: left;
}
.pageHeader #back_cheniu button {
  border: none;
  border-radius: 15px;
  width: 45px;
  padding: 2px;
  background-color: #d7d7d7;
  color: #333;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.container .banner {
  position: relative;
  height: 8rem;
  margin-top: 3rem;
  background-color: #777;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .banner #count {
  float: left;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #e5e5e5;
}
.container .banner #yield {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container .navside {
  background-color: #777;
  color: #e5e5e5;
  /* Android */
  display: -webkit-box;
  -webkit-box-pack: justify;
  /* iOS */
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  /* IE10 */
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  /* w3c */
  display: flex;
  justify-content: space-around;
  padding: 0.8rem 0;
}
.container .navside li {
  display: inline-block;
}
.container .navside li a {
  padding: 0 5px;
  height: 2.75rem;
  line-height: 2.75rem;
  color: #333;
}
.container .navside li a img {
  width: 0.8rem;
  margin-right: 0.1rem;
}
.container .listContainer {
  display: inline-block;
  padding: 1rem;
  font-size: 0.9rem;
}
.container .listContainer li {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.container .listContainer .odd {
  float: left;
}
.container .listContainer .even {
  float: right;
}
.container .coinArea {
  /* Android */
  display: -webkit-box;
  -webkit-box-pack: justify;
  /* iOS */
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  /* IE10 */
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  /* w3c */
  display: flex;
  justify-content: space-around;
}
.container .coinArea .adjustBtn {
  background-color: #777;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: #fff;
}
.container .coinArea .coinValue {
  width: 150px;
  padding-top: 0.3rem;
  border-bottom: 1px solid #777;
}
.container .expectIncome {
  padding: 1rem;
  font-size: 0.9rem;
}
.container .expectIncome li {
  display: inline-block;
}
.container .expectIncome .odd {
  float: left;
}
.container .expectIncome .even {
  float: right;
}
.container .investArea {
  margin: 0 1rem;
  padding: 0.5rem 0;
  background-color: #d7d7d7;
  border-radius: 0.3rem;
  margin-top: 1.5rem;
}
.container .companyInfo {
  padding: 1rem;
}
.container .companyInfo h4 {
  text-align: left;
}
.container .companyInfo p {
  text-align: justify;
  line-height: 1.8rem;
}
