

#logo {
	position: absolute;
	top: 6px;
	left: 4px;
}

#title {
	position: absolute;
	top: 8px;
	font-size: 20px;
}

#navbar {
	background: #FFF;
	text-align: center;
}

#invest_form {
    margin-left: 16px;
    margin-right: 16px;
}

#cancel {
    background-color: #FFF;
}
