@charset "UTF-8";
body {
    background-color: #f1f1f1;
}
section {
    width: 93.75%;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
}

/*同意服务*/
.agreement {
	margin-top: 1em;
}
.agreement a {
	color: #f8370a;
}
