

#logo {
	position: absolute;
	top: 6px;
	left: 4px;
}

#title {
	position: absolute;
	top: 8px;
	font-size: 20px;
	margin-left: -18px;
}

#navbar {
	background: #FFF;
	margin-bottom: 0;
}

.subject {
	background: #FFF;
	margin: 16px;
	font-size: 20px;
}

.subject_lists {
	background: #EEEFFF;
	margin:16px;
}

#carousel_image {
	max-height:300px
}