

#logo {
	position: absolute;
	top: 6px;
	left: 4px;
}

#title {
	position: absolute;
	top: 8px;
	font-size: 20px;
	margin-left: -36px;
}

#navbar {
	background: #FFF;
}

#expectRate {
    font-size: 25px;
}

#expectIncome {
    font-size: 20px;
}

#mount_count {
    padding-top: 0.3rem;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #777;
    float: right;
}

#button_minus {
    margin-left: 20px;
}

#button_plus {
    margin-left: 60px;
}
