

#logo {
	position: absolute;
	top: 6px;
	left: 4px;
}

#title {
	position: absolute;
	top: 8px;
	font-size: 20px;
}

#navbar {
	background: #FFF;
	text-align: center;
}

#unbind_panel {
    margin: 16px;
}

#unbind_name {
    margin-left: 16px;
    margin-right: 16px;
}
